<%= render 'for_render/menu' %>

<br><b>Текущие параметры Валеры: </b><br>
<%= [VALERA.health, VALERA.mana, VALERA.cheerfulness, VALERA.fatigue, VALERA.money] %> <br>

<br> <b>Допустимые действия: </b><br>
<% actions = available %>
<% actions.each do |a| %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to a.before_text, {:controller => 'game', 
            :action => 'execute_action', :action_name => a.name} %> <br>

<% end %>

<%= link_to '<button type="button">Начать с начала</button>'.html_safe, {:controller => 'game', 
            :action => 'refresh'} %> 
<%= render 'for_render/sign' %>
