<%= render 'for_render/menu' %>

<br><b>Текущие параметры Валеры: </b><br>
Здоровье:
<div id="line-container">
  <div id="greenBar" style="width: <%= VALERA.health %>%" ><%= VALERA.health %></div>
</div>
Мана:
<div id="line-container">
  <div id="greenBar" style="width: <%= VALERA.mana %>%"><%= VALERA.mana %></div>
</div>
Веселье:
<div id="line-container">
  <div id="greenBar" style="width: calc(<%= (VALERA.cheerfulness + 10) * 5%>%"><%= VALERA.cheerfulness %></div>
</div>
Усталость:
<div id="line-container">
  <div id="greenBar" style="width: <%= VALERA.fatigue %>%"><%= VALERA.fatigue %></div>
</div>
Деньги:
<%= VALERA.money %> <br>

<br> <b>Допустимые действия: </b><br>
<% actions = available %>
<% actions.each do |a| %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to a.before_text, {:controller => 'game', 
            :action => 'execute_action', :action_name => a.name} %> <br>

<% end %>
<%= link_to '<button type="button">new game</button>'.html_safe, {:controller => 'game', :action => 'init_valera'} %>
<% if user_signed_in? %>
  <%= link_to '<button type="button">load</button>'.html_safe, {:controller => 'game', :action => 'load_valera'} %>
  <%= link_to '<button type="button">save</button>'.html_safe, {:controller => 'game', :action => 'save_valera'} %>
<% end %>
<%= render 'for_render/sign' %>
