<%= render 'menu' %>
<h1><center>Информация о действиях Валеры</center></h1>
<% if current_user.try(:admin?) %>
  <%= link_to 'Создать новое действие', new_article_path %>
<% end %>
<table>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to '<button type="button">Подробнее</button>'.html_safe, article_path(article) %></td>
      <% if current_user.try(:admin?) %>
        <td><%= link_to '<button type="button">Изменить</button>'.html_safe, edit_article_path(article) %></td>
        <td><%= link_to '<button type="button">Удалить</button>'.html_safe, article_path(article),
                method: :delete,
                data: { confirm: 'Вы уверены?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render 'sign' %>
