<%= render 'for_render/menu' %>
<p>
  <center><strong>Название:</strong></center>
  <center><%= @article.title %></center>
</p>

<p>
  <center><%= @article.text %></center>
</p>

<% if current_user.try(:admin?) %>
  <%= link_to 'Изменить', edit_article_path(@article) %> 
<% end %>
<%= link_to '<button type="button">Вернуться</button>'.html_safe, articles_path %> <br>

<%= render 'for_render/sign' %>
