<%= render 'menu' %>
<h1><center>ААААААААААААААААААААААААААААААААА</center></h1>
<% val = Valeron.new %>
В А Л Е Р А <br>
Здоровье: <%= val.health %> <br>
Мана: <%= val.mana %> <br>
Усталость: <%= val.fatigue %> <br>
Веселье: <%= val.cheerfulness %> <br>
Бабло: <%= val.money %> <br>
Жив? <%= val.alive? %> <br>

<%= render 'sign' %>
