<%= render 'menu' %>
<h1><center>Наш форум</center></h1>
<% if user_signed_in? %>
  <%= link_to 'Создать новый пост', new_post_path %>
<% end %>
<table>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to '<button type="button">Подробнее</button>'.html_safe, post_path(post) %></td>
      <% if current_user.try(:admin?) %>
        <td><%= link_to '<button type="button">Изменить</button>'.html_safe, edit_post_path(post) %></td><br>
        <td><%= link_to '<button type="button">Удалить</button>'.html_safe, post_path(post),
                method: :delete,
                data: { confirm: 'Вы уверены?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render 'sign' %>