<%= render 'menu' %>
<p>
  <strong><center><%= @post.title %></center></strong>
</p>

<p>
  <center><%= @post.text %></center>
</p>

<h1>Комментарии</h1>
<%= render @post.comments %>

<% if user_signed_in? %>
  <h2>Добавить комментарий:</h2>
  
  <%= render 'comments/form' %>
<% end %>

<% if current_user.try(:admin?) %>
  <%= link_to 'Изменить', edit_post_path(@post) %> 
<% end %>
<%= link_to '<button type="button">Вернуться</button>'.html_safe, posts_path %> <br>

<%= render 'sign' %>